
    <%- include('partials/header.html') %>

   

    <section class="outras-noticias">
        <div class="title-outras-noticia">
            <h2>Busca:</h2>
            <br><br>
            <div class="center">
                
                <div style="width:100%;" class="mais-lidas">
                    <h3>33 resultados</h3>
                    <div class="mais-lidas-noticias">
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/natureza_small.png" />
                            <div class="texto-mais-lida-single">
                                <h4>Natureza</h4>
                                <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/natureza_small.png" />
                            <div class="texto-mais-lida-single">
                                <h4>Natureza</h4>
                                <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/natureza_small.png" />
                            <div class="texto-mais-lida-single">
                                <h4>Natureza</h4>
                                <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                        <div class="mais-lida-noticia-single">
                            <img src="/public/images/natureza_small.png" />
                            <div class="texto-mais-lida-single">
                                <h4>Natureza</h4>
                                <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer.html') %>

</body>
</html>