
    <%- include('partials/header.html') %>

        <section class="noticia-destaque">
            <div class="center">
                <div class="img-destaque">
                    <div class="overlay-destaque"></div>
                    <div class="title-destaque-descricao">
                        <!--feito em off o link aqui e adicionado nos estilos-->
                        <a href="/slug-aqui"><h2>Quer Fugir das Praias de Verão?</h2></a>
                        <p>Donec consectetur libero eget bibendum ullamcorper. Quisque auctor nulla eu enim ultrices laoreet. Na..</p>
                    </div>
                    <img src="/public/images/landscape.jpg" />
                </div>
            </div>
        </section>

        <section class="outras-noticias">
            <div class="title-outras-noticia">
                <h2>Últimas Notícias</h2>
                <br><br>
                <div class="center">
                    <div class="ultimas">
                        <div class="box-ultima-single">
                            <img src="/public/images/noticia.png" />
                            <div class="conteudo-noticia-single">
                            <h3>Natureza e Geral</h3>
                            <h2>Como Encarar o Surf em Floripa</h2>
                            <p>A água gelada e o vento pode acabar com a sua felicidade de ir para a água. Cientistas afirmam que a chance de hipotermia é real e você precisa se cuidar. Veja como.</p>
                            <a href="/encarar-o-surf">Saiba mais</a>
                        </div>
                        </div>
                        <div class="box-ultima-single">
                            <img src="/public/images/noticia.png" />
                            <div class="conteudo-noticia-single">
                            <h3>Natureza e Geral</h3>
                            <h2>Como Encarar o Surf em Floripa</h2>
                            <p>A água gelada e o vento pode acabar com a sua felicidade de ir para a água. Cientistas afirmam que a chance de hipotermia é real e você precisa se cuidar. Veja como.</p>
                            <a href="/encarar-o-surf">Saiba mais</a>
                        </div>
                        </div>
                    </div>
                    <div class="mais-lidas">
                        <h3>Mais Lidas</h3>
                        <div class="mais-lidas-noticias">
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/natureza_small.png" />
                                <div class="texto-mais-lida-single">
                                    <h4>Natureza</h4>
                                    <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                                    <a href="/encarar-o-surf">Saiba mais</a>
                                </div>
                            </div>
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/natureza_small.png" />
                                <div class="texto-mais-lida-single">
                                    <h4>Natureza</h4>
                                    <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                                    <a href="/encarar-o-surf">Saiba mais</a>
                                </div>
                            </div>
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/natureza_small.png" />
                                <div class="texto-mais-lida-single">
                                    <h4>Natureza</h4>
                                    <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                                    <a href="/encarar-o-surf">Saiba mais</a>
                                </div>
                            </div>
                            <div class="mais-lida-noticia-single">
                                <img src="/public/images/natureza_small.png" />
                                <div class="texto-mais-lida-single">
                                    <h4>Natureza</h4>
                                    <p>A importância da floresta do ártico para a biodiversidade mundial. Qual o impacto o degelo na fauna e flora?</p>
                                    <a href="/encarar-o-surf">Saiba mais</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer.html') %>

    </body>
</html>